{{!-- template-lint-disable no-bare-strings  --}}

<div class="element-flex schoolroom">
  <div class="flex1 schoolroom__mainpanel">
    <h2 class="maintitle">Dumbledore's Army</h2>
    <SequentialRender @renderPriority={{0}} @taskName="getSpellWork" @getData={{@getSpellWork}} as |spellHash|>
      <spellHash.contentTemplate>
        {{#each @spellWork as |spell|}}
          <div class="card">
            <div class="title">
              {{spell.name}}
            </div>
            <div class="subtext">
              {{spell.description}}
            </div>
          </div>
        {{/each}}
      </spellHash.contentTemplate>
      <spellHash.loaderTemplate>
        <div class="loader"></div>
      </spellHash.loaderTemplate>
    </SequentialRender>
  </div>
  <div class="schoolroom__sidepane">
    <div class="section">
      <h4 class="title">
        Participants
      </h4>
      <SequentialRender @renderPriority={{1}} @taskName="getParticipants" @getData={{@getParticipants}} as |participantsHash|>
        <participantsHash.contentTemplate>
          <div class="element-flex avatarpane">
            {{#each @participantsList as |person|}}
              <div class="avatar-item" aria-label={{person.name}}>
                <img class="element-flex avatar-image-wrapper" src={{person.avatar}} alt={{person.name}}>
              </div>
            {{/each}}
          </div>
        </participantsHash.contentTemplate>
        <participantsHash.loaderTemplate>
          <div class="loader"></div>
        </participantsHash.loaderTemplate>
      </SequentialRender>
    </div>

    <div class="section">
      <h4 class="title">
        Quick Notes
      </h4>
      <SequentialRender @renderPriority={{1}} @taskName="getNotes" @getData={{@getNotes}} as |notesHash|>
        <notesHash.contentTemplate>
          <div class="editor" contenteditable="true">
            {{@notes}}
          </div>
        </notesHash.contentTemplate>
        <notesHash.loaderTemplate>
          <div class="loader"></div>
        </notesHash.loaderTemplate>
      </SequentialRender>
    </div>
  </div>
</div>