{{!-- template-lint-disable no-bare-strings  --}}

<div class="element-flex schoolroom">
  <div class="flex1 schoolroom__mainpanel">
    <h2 class="maintitle">Dumbledore's Army</h2>
    <SequentialRender @renderPriority={{0}} @taskName="getSpellWork" @getData={{this.getSpellWork}} as |spellHash|>
      <spellHash.render-content>
        {{#each this.spellWork as |spell|}}
          <div class="card">
            <div class="title">
              {{spell.name}}
            </div>
            <div class="subtext">
              {{spell.description}}
            </div>
          </div>
        {{/each}}
      </spellHash.render-content>
      <spellHash.loader-state>
        <div class="loader"></div>
      </spellHash.loader-state>
    </SequentialRender>
  </div>
  <div class="schoolroom__sidepane">
    <div class="section">
      <h4 class="title">
        Participants
      </h4>
      <SequentialRender @renderPriority={{1}} @taskName="getParticipants" @getData={{this.getParticipants}} as |participantsHash|>
        <participantsHash.render-content>
          <div class="element-flex avatarpane">
            {{#each this.participantsList as |person|}}
              <div class="avatar-item" aria-label={{person.name}}>
                <img class="element-flex avatar-image-wrapper" src={{person.avatar}} alt={{person.name}}>
              </div>
            {{/each}}
          </div>
        </participantsHash.render-content>
        <participantsHash.loader-state>
          <div class="loader"></div>
        </participantsHash.loader-state>
      </SequentialRender>
    </div>

    <div class="section">
      <h4 class="title">
        Quick Notes
      </h4>
      <SequentialRender @renderPriority={{1}} @taskName="getNotes" @getData={{this.getNotes}} as |notesHash|>
        <notesHash.render-content>
          <div class="editor" contenteditable="true">
            {{this.notes}}
          </div>
        </notesHash.render-content>
        <notesHash.loader-state>
          <div class="loader"></div>
        </notesHash.loader-state>
      </SequentialRender>
    </div>
  </div>
</div>