{{!-- template-lint-disable no-bare-strings  --}}

<DocsHero @prefix="ember-sequential-render" @heading="" @byline="An elegant way to optimize your render performance" />

<DocsDemo @class="demo-wrapper" as |demo|>
  <h2 class="maintitle" >Example Layout</h2>
  <demo.example @name="prioritized.hbs">
    <ExampleOptimized
      @getSpellWork={{this.getSpellWork}}
      @spellWork={{this.spellWork}}
      @getNotes={{this.getNotes}}
      @notes={{this.notes}}
      @getParticipants={{this.getParticipants}}
      @participantsList={{this.participantsList}}
    />
  </demo.example>
</DocsDemo>